table
  position: relative
  width: 100%
  min-height: 800px
  max-height: 800px
  border-collapse: collapse
thead
  tr
    background: #474955
    color: #fff
    font-size: 14px
    user-select: none
    cursor: pointer
    height: 54px
    th
      padding: 19px 0
    th:nth-child(1)
      width: 110px
    th:nth-child(2)
      width: 529px
    th:nth-child(3)
      width: 432px
tbody
  color: #474955
  th, td
    font-size: 13px
    border: 1px solid #E3E6EC
  td
    padding: 0px 12px